# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
pnpm-error.log
testem.log
/typings

helm-chart
pnpm-lock.yaml

# System Files
.DS_Store
Thumbs.db




dist/
.next/
.nx

.github/workflows/*.yml