# Created by Vercel CLI
VERCEL=
VERCEL_ENV=
VERCEL_URL=
VERCEL_GIT_PROVIDER=
VERCEL_GIT_REPO_SLUG=
VERCEL_GIT_REPO_OWNER=
VERCEL_GIT_REPO_ID=
VERCEL_GIT_COMMIT_REF=
VERCEL_GIT_COMMIT_SHA=
VERCEL_GIT_COMMIT_MESSAGE=
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=
VERCEL_GIT_COMMIT_AUTHOR_NAME=
ELASTIC_LOGGING_PASSWORD=
ELASTIC_LOGGING_USERNAME=
ELASTIC_LOGGING_SERVER=
ECI_BASE_URL=
SALEOR_TEMPORARY_APP_TOKEN=
DATABASE_URL=
DATABASE_URL_POOL=
